<div id="icon-menu-page">
    <ul id="menu">
        <li>
            <span>.01.</span>
            <a class="menu-h2" href="index.html">
                <h2>Home</h2>
            </a>
        </li>
        <li>
            <span>.02.</span>
            <a class="menu-h2" href="aboutMe.html">
                <h2>About me </h2>
            </a>
        </li>
        <li>
            <span>.03.</span>
            <a class="menu-h2" href="CompletedProjects.html">
                <h2>Completed Projects</h2>
            </a>
        </li>
        <li>
            <span>.04.</span>
            <a class="menu-h2" href="ProjectsInProgress.html">
                <h2> Projects In Progress</h2>
            </a>
        </li>

        <li>
            <span>.05.</span>
            <a class="menu-h2" href="contactMe.html">
                <h2> Contact Me</h2>
            </a>
        </li>
    </ul>
</div>

<div class="menu btn2">
    <div class="icon"></div>
</div>