<div class="mySlides">
    <img src="img/truthlambs-1.png">

    <div class="text">Web page:1</div>
</div>

<div class="mySlides">
    <img src="img/truthlambs-2.png">
    <div class="text">Web page:2</div>
</div>

<div class="mySlides">
    <img src="img/truthlambs-3.png">
    <div class="text">Web page:3</div>
</div>

<div class="mySlides">
    <img src="img/truthlambs-4.png">
    <div class="text">Web page:4</div>
</div>

<div class="mySlides">
    <img src="img/truthlambs-5.png">
    <div class="text">Web page:5</div>
</div>

<div class="mySlides">
    <img src="img/truthlambs-6.png">
    <div class="text">Web page:6</div>
</div>
<div class="mySlides">
    <img src="img/truthlambs-7.png">
    <div class="text">Web page:7</div>
</div>
<div class="mySlides">
    <img src="img/truthlambs-7-group.png">
    <div class="text">Web page:8</div>
</div>