/*** ANIMATION CLASSES ***/
.row {
    margin-bottom: 40px;
    margin-right: auto;
    margin-left: auto;
    padding: 0 10px;

    .life2-img {
        margin: 0 auto;
    }

    .me-top {
        margin-top: 3.5em;
        margin-right: 30px;
        margin-left: -10px;

        //width: 356.67px;
        //height: 356.67px;
   
    }
}

.slide-up {
    transform: translate(0, 40px);

    &.animated {
        animation-name: slideUpCustom;
        animation-duration: 1s;
        animation-fill-mode: forwards; // remain at last keyframe
   
    }
}

.slide-left {
    left: -400px;

    &.animated {
        background-color: white;
        justify-content: center;
        opacity: 1;
        animation-name: slide-left;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; // remain at last keyframe
   
    }
}

.slide-right {
    right: -400px;

    &.animated {
        background-color: white;
        opacity: 1;
        animation-name: slide-right;
        animation-duration: 1.5s;
        animation-fill-mode: forwards; // remain at last keyframe
   
    }
}

.text-subtitle {
    margin-top: 1em;
    margin-bottom: .5em;
    font-style: italic;
    font-size: 2em;
    width: 100%;
    text-align: center;
}

.sub-header {
    width: 100%;
    text-align: center;
    margin-bottom: .8em;
}

.slide-right-text {
    margin: auto;
}

// desktop part
@media screen and (min-width: 600px) {
    .row {
        .me-top {
            margin-top: 125px;
            margin-left: auto;
            margin-right: auto;

            // width: 400px;
            // height: 415px;
       
        }
    }

    .animatable {
        & .sub-header-1 {
            margin-bottom: 0.2em;
            margin-top: 1px;
        }

        .animatable-1 {
            margin-top: 25px;
        }
    }

    .text-subtitle {
        // margin-top: 2em;
        // margin-bottom: .8em;
        font-style: italic;
        font-size: 2em;
        width: 100%;
        text-align: center;

        &.sub-1 {
            margin-top: 1.5em;
        }

        &.sub-2 {
            margin-top: 0.01em;
        }

        &.sub-3 {
            margin-top: 0.15em;
        }
    }

    .sub-header {
        width: 100%;
        text-align: center;

        //margin-bottom: .8em;
   
    }

    .slide-right-text {
        margin-left: 3em;
    }

    .slide-left-text {
        margin-right: 3em;
    }

    .row .life3-img {
        margin-top: 60px;
    }
}
