/* [class*="honey-web-row"] {
   width: 100%;
 }*/

/*h2 {
    font-size: 30px;
    color: $green;
}*/

.title-part {
    width: 100%;
    text-align: center;
    padding: $mobile-edge-padding;

    .title-text {
        margin-top: 120px;
        justify-content: center;

        .icon-img {
            width: 38px;
            height: 38px;
        }
    }
}

.projects {
    img {
        width: 100%;

        //transition: all .1s ease-in-out;
        border: 1px solid $green;
    }

    .project-web-row {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: $mobile-edge-padding;

        &.project-web-part0,
        &.project-web-part2 {
            margin-top: 80px;

            .project-img {
                order: 1;
            }
        }

        .project-text {
            align-self: center;
            text-align: justify;
        }
    }
}

//desktop part //////
@media only screen and (min-width: 600px) {
    .finishedProjects {
        .title-part {
            //background: whitesmoke;
            width: 100%;
            text-align: center;
            flex-direction: column;
            justify-content: center;
            margin-top: 120px;
            padding: 35px 0;
            justify-content: center;

            .title-coding-icon {
                .icon-img {
                    width: 50px;
                    height: 50px;
                    padding: 0;
                }
            }
        }

        .projects {
            //margin: 50px auto;

            .bg-whitesmoke {
                background: whitesmoke;
                width: 100%;
            }

            .project-web-row {
                display: flex;
                flex-direction: row;
                justify-content: center;
                text-align: justify;
                width: 75%;
                margin: 0 auto;

                &.honey-app-summary {
                    display: block;
                    margin: 0 auto;
                }

                .project-text {
                    align-self: center;

                    &.gutter-left {
                        padding: 0 0 0 $gutter-size;
                    }

                    &.gutter-right {
                        padding: 0 $gutter-size 0 0;
                    }
                }

                &.project-web-part0,
                &.project-web-part2 {
                    //margin-top: 80px;

                    .project-img {
                        order: 0;
                    }
                }
            }

            img {
                width: 350px;
                height: 100%;
                transition: all .2s ease-in-out;
                border: 1.5px solid whitesmoke;
                background-color: white;
                padding: 0 20px;

                &:hover {
                    transform: scale(2.1);
                }
            }
        }
    }
}
