.grid-container-1 {
    display: grid;
    grid-template-columns: auto;

    grid-template-rows: 600px 900px 800px 800px 800px 800px 800px 800px;
    grid-row-gap: 55px;
    
    .grid-item {
        padding: 20px;
        background-color:#f0f7f5; 
        }
    
    
    p{
        color:gray;
        font-family: Georgia, serif;
        font-size:18px; }


    
        .one{
            display: grid;
            width:100%;
            align-self: center;
            text-align: center;
            .title-style{
            background-color:  #f0f7f5;
            width:300px;
            height: 350px;
            padding: 20px 0;
            
            }
            h1{
                padding-top:40px;
                color: red;
                font-family: cursive;
            }
           
            .coding-icon{
                justify-content: center;
                
                img{
                    width:50px;
                    height: 50px;
                    
                }
      
            }
        }
      
        .two{
            
            
          img{
              
              width: 400px;
              height:650px ;
              float:left;
          }
            
            padding-top:50px;
            .repiling-website{
               
                width:100%;
                height: auto;
                margin-top: 30px;
                text-align: center;
             h5{
                  color:red;
              }
            }
             
            
        }
        .three{
          background-color:  #f0f7f5;
          //grid-column-start: 1;
          //grid-column-end: 4;
          //grid-row-start: 2;
          //grid-row-end: span 4;
          
            h1 {
                text-align: center;
            }
      
            .img{
               
                .img-1{
                  width:300px;
                  height:500px;
                   }
            .img-2{
                    width:300px;
                    height:500px;
                    }
                 }
              }





    

       
    }
  
  
 /* .four{
      background-color: rgb(240, 200, 207);
  }
  .five{
      background-color: pink;
  }

  .six{
      background-color: rgb(37, 42, 80)
  }
  .seven{
      background-color: darkslategray;
  }
  */