@import "slick-theme";

// mobile responsive

.workingOnIt {
    text-align: center;

    .bg-whitesmoke {
        background-color: whitesmoke;
        width: 100%;
        padding: 25px 0;
        margin: 50px auto;

        .click-big-img {
            padding: 50px auto;

            h5 {
                margin: 20px auto;
            }
        }
    }

    & .bold-font {
        color: $green;
        font-weight: bold;
    }

    h4 {
        margin: 30px auto;
        font-size: 18px;
        padding: 0 50px;

        //color: $green;
   
    }

    //margin-bottom: 30px;

    .web-introduce {
        text-align: justify;
        font-size: 18px;

        //color: $dark;
        letter-spacing: 1px;
        width: 70%;
        margin: 30px auto;
    }
}

.mySlides img {
    width: 100%;
}

.web-detail-introduce {
    img {
        width: 60%;
    }

    .web-detail-img-3 {
        margin-bottom: 40px;
    }
}

.title-part {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;

    .title-coding-icon {
        .icon-img {
            width: 30px;
            height: 30px;
            padding: 0;
        }
    }

    h2 {
        //background-color: whitesmoke;
        // margin-top: 50px;
        line-height: 1.5em;
        padding: 15px 25px;

        //font-size: 28px;

        //font-weight: bold;
   
    }
}

// desktop part/////////

@media only screen and (min-width: 600px) {
    .workingOnIt {
        .bg-whitesmoke {
            padding: 45px 0;
            margin: 10px auto;

            &.other-features-part {
                padding-bottom: 75px;
            }
        }

        h4 {
            margin: 30px auto;
            font-size: 25px;
        }

        > .title-part {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin-top: 120px;

            .title-coding-icon {
                .icon-img {
                    width: 50px;
                    height: 50px;
                    padding: 0;
                }
            }
        }

        > .project-part {
            width: 100%;

            .slider-nav {
                position: relative;
                width: 60%;
                margin-left: auto;
                margin-right: auto;
            }

            .slider-for {
                width: 60%;
                display: none;
                margin-left: auto;
                margin-right: auto;
                margin-bottom: 50px;
            }
        }

        .web-detail-introduce {
            .click-big-img {
                display: flex;
                align-items: center;
                flex-direction: row;
                width: 75%;
                margin: 0 auto;

                .web-detail-img {
                    margin: 0 30px;

                    img {
                        width: 100%;
                    }
                }
            }
        }

        .thumbnail {
            width: 300px;
        }
    }
}
