@import "slick-theme";

.workingOnIt {
    text-align: center;

    .title-part {
        background-image: url("img/bg3.jpeg");
        background-attachment: fixed;
        text-align: center;
        width:100%;
        height: 350px;
        opacity: 1;
        letter-spacing: 8px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        h2 {
            text-shadow: 0 0 3px gray;
            font-weight: bold;
            font-size: 55px;
            color: white;
        }
    }

        

 .project-part{
    background-color:#d7f0c4;
        width:100%;
        height: 100%;
        h4{
            padding-top:20px;
            font-size: 28px;
          
        }
         .web-introduce{
            text-align: center;
            font-size: 18px;
            color:gray;
            margin-top:30px;
            width:70%;
            height: 150px;
            margin: auto;
            padding-bottom:40px;
            .bold-font{
                color:green;
                font-weight: bold;
            }
           
            
         }
 
}
.mySlides {
    
     width: 100%;
    //border: 8px double white;
    padding: 25px;
    .text{
        font-family: 'Courier New', Courier, monospace;
        font-size: 20px;
        font-weight: bold;
        color: #A70A26;
        
    }
   
    img {
        width: 100%;

    }
}

.slider-nav {
    width: 60%;
    
    margin-left: auto;
    margin-right: auto;
}

.slider-for {
    width: 60%;
    height: 50vh;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 150px;
    }

    .web-detail-intrduce{
       

        img{
            width:400px;
            .prayer-img{
                height: 300px;
            }
           
           

        }
    }
 
}

.thumbnail {
    width: 300px;
}